@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
     --Marineblue: hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%);
    --Pastelblue: hsl(228, 100%, 84%);
    --Lightblue: hsl(206, 94%, 87%);
    --Strawberryred: hsl(354, 84%, 57%);
    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
    --para: 16px;
    --family: "ubuntu", "sans-serif";
    --fw-semi: 400;
    --fw-bold: 500;
    --fw-xbold: 700;
}


main{
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    display: flex;
    height: 30vh;
    background-size: cover;
    justify-content: center;
    position: relative;


}
.oook{
    background-color: var(--Magnolia);
}

.one,
.two,
.three,
.four{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    margin-top: 2rem;
    border: 1px solid var(--White);
    
}
.four{
    color: var(--Marineblue);
    background-color: var(--Lightblue);
}

section{
    width: 200px;
    background-color: var(--White);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    }
section, .p{
    color: var();
}
section, img{
    justify-content: center;
    align-items: center;
}
h2{
    color: var(--Marineblue);
}
p{
    color: var(--Coolgray);
}
.container{
    background-color: var(--Lightgray);
    border-radius: 8px;
    padding: 10px;
}
.top{
    justify-content: center;
    align-items: center;
}

/* media query*/

@media(min-width:768px) and (max-width:900px){
    section{
        margin-top: 2rem;
    }
}

@media(min-width: 900px){
    body{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }
    .main-container{
        display: flex;
        background-color: var(--White);
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 75vh;
        border-radius: 10px;
        padding: 15px;
    }
    main{
        height: 70vh;
        flex-direction: column;
        width: 25% !important;
        background-image: url(../assets/images/bg-sidebar-desktop.svg);
        background-size: cover;
        background-position: 100%;
        justify-content: flex-start;
        border-radius: 10px;
    }
    section{
        width: 60% !important;
        height: 70vh;
        justify-content: center;
        align-self: center;
    }
}